<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드-->

<th:block th:replace="/layouts/fragments/header :: header"></th:block>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layouts/fragments/sidebar :: sidebar"></th:block>

    <!-- Navbar -->
    <th:block th:replace="layouts/fragments/topbar :: topbar"></th:block>

    <!-- Content -->
    <th:block layout:fragment="content"></th:block>

    <!-- Footer -->
    <th:block th:replace="layouts/fragments/footer :: footer"></th:block>

</div>

<!-- 공통 스크립트-->
<th:block th:replace="layouts/fragments/script :: script"></th:block>
</body>
</html>